## 라이브러리

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import pearsonr, spearmanr, kendalltau
from scipy import stats
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
import pingouin as pg

Bad key text.latex.preview in file C:\Users\spa84\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 123 ('text.latex.preview : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key mathtext.fallback_to_cm in file C:\Users\spa84\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 155 ('mathtext.fallback_to_cm : True  # When True, use symbols from the Computer Modern')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.jpeg_quality in file C:\Users\spa84\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 418 ('savefig.jpeg_quality: 95       # when a jpeg is saved, the default quality parameter.')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key keymap.all_axes in file C:\Users\spa84\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 466 ('keymap.all_axes : a                 # enable all axes')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_path in file C:\Users\spa84\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 477 ('animation.avconv_path: avconv     # Path to avconv binary. Without full path')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_args in file C:\Users\spa84\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 479 ('animation.avconv_args:            # Additional arguments to pass to avconv')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.3/matplotlibrc.template
or from the matplotlib source distribution

## 데이터 불러오기

In [2]:
df = pd.read_csv('../data/APT_data.csv')

In [3]:
df

,Floor,Building_Age,JS_BA,Population,IR,LC_index,CA_index,TC_index,SDT_index,Crime_Rates,...,Sell_Price,Shortest_Distance_to_Subway,Shortest_Distance_to_University,Shortest_Distance_to_School,JS_Price,Region_Name_y,Building_Use_y,YearMonth,UR,HSP_index
0,2.0,35,73.02,537081,1.75,94.700000,98.600000,96.500000,87.290715,1.372355,...,151666.67,214.048651,4751.978581,227.236759,34047,강남구,아파트,201801,3.7,103.0
1,6.0,19,59.94,120430,0.50,104.900000,102.300000,102.200000,119.460536,2.170927,...,141314.29,738.117055,1511.419338,194.500536,85000,양천구,아파트,202110,2.8,188.5
2,12.0,4,31.01,291841,0.50,103.100000,101.500000,101.100000,133.526430,0.786010,...,29250.00,658.291055,1973.696615,81.579736,63000,구로구,아파트,202106,3.8,177.7
3,1.0,25,57.19,421837,2.75,75.900000,82.400000,80.100000,115.191606,1.089223,...,22050.00,530.714935,863.398657,338.546255,36000,양천구,아파트,201301,3.4,72.4
4,3.0,4,59.99,435952,1.25,90.400000,95.300000,91.000000,107.634598,1.057025,...,95000.00,1139.270564,3067.590359,259.515164,49000,양천구,아파트,201712,3.3,100.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,12.0,13,114.88,122799,2.00,82.200000,87.500000,85.100000,115.250447,3.687960,...,53963.64,738.117055,1511.419338,194.500536,30000,송파구,아파트,201501,3.7,77.9
99996,14.0,33,62.22,332026,1.50,95.900000,100.000000,98.200000,92.764706,0.628667,...,29383.33,1224.592962,1387.869038,122.831345,150000,용산구,아파트,201907,3.9,122.2
99997,17.0,16,84.82,291572,1.75,83.300000,88.300000,85.900000,122.227191,1.100749,...,61811.11,418.644973,2131.457467,130.433463,16000,노원구,아파트,201503,4.0,79.4
99998,23.0,13,116.19,662019,1.75,95.000000,98.700000,96.900000,69.882353,0.834577,...,209000.00,971.258388,3418.712577,32.848503,36000,마포구,아파트,201911,3.1,129.5
99999,18.0,8,31.37,484742,3.25,74.497276,81.482483,78.518234,102.716057,0.947923,...,16266.67,500.333954,2129.036865,643.334778,30000,마포구,아파트,201206,3.2,75.2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Floor                            100000 non-null  float64
 1   Building_Age                     100000 non-null  int64
 2   JS_BA                            100000 non-null  float64
 3   Population                       100000 non-null  int64
 4   IR                               100000 non-null  float64
 5   LC_index                         100000 non-null  float64
 6   CA_index                         100000 non-null  float64
 7   TC_index                         100000 non-null  float64
 8   SDT_index                        100000 non-null  float64
 9   Crime_Rates                      100000 non-null  float64
 10  latitude                         100000 non-null  float64
 11  longitude                        100000 non-null  float64
 12  Sell_Price                       100000 non-null  float64
 13  Shortest_Distance_to_Subway      100000 non-null  float64
 14  Shortest_Distance_to_University  100000 non-null  float64
 15  Shortest_Distance_to_School      100000 non-null  float64
 16  JS_Price                         100000 non-null  int64
 17  Region_Name_y                    100000 non-null  object
 18  Building_Use_y                   100000 non-null  object
 19  YearMonth                        100000 non-null  int64
 20  UR                               100000 non-null  float64
 21  HSP_index                        100000 non-null  float64
dtypes: float64(16), int64(4), object(2)
memory usage: 16.8+ MB

In [5]:
df.columns

Index(['Floor', 'Building_Age', 'JS_BA', 'Population', 'IR', 'LC_index',
       'CA_index', 'TC_index', 'SDT_index', 'Crime_Rates', 'latitude',
       'longitude', 'Sell_Price', 'Shortest_Distance_to_Subway',
       'Shortest_Distance_to_University', 'Shortest_Distance_to_School',
       'JS_Price', 'Region_Name_y', 'Building_Use_y', 'YearMonth', 'UR',
       'HSP_index'],
      dtype='object')

## Categorical:

- Nominal(variables that have two or more categories, but which do not have an intrinsic order.)

    - Region_Name : 자치구 명
    - Building_Use : 건물 용도
    
- Ordinal(variables that have two or more categories just like nominal variables. Only the categories can also be ordered or ranked.)

    
## Numeric:

- Discrete
    - YearMonth : 년월
    - Building_Age : 건물연식
    - JS_Price : 전세가
   
- Continous
    - Sell_Price : 매매 가격
    - JS_BA = JS_Building Area : 임대 면적
    - lR = Interest Rate : 금리
    - UR = Unemployment Rate : 실업률
    - LC_index = Leading Composite index : 선행종합 지수
    - CA_index = Comprehensive Accompany index : 동행종합 지수
    - TC_index = Trailing Composite index : 후행종합 지수
    - SDT_index = Supply and Demand Trend index = 전세수급동향 지수
    - HSP_index = 
    - Population : 인구수
    - Crime_Rates : 범죄율
    - Shortest_Distance_to_Subway : 가장 가까운 지하철역과의 거리
    - Shortest_Distance_to_School : 가장 가까운 초중고등학교와의 거리
    - Shortest_Distance_to_Univ : 가장 가까운 대학교와의 거리
    - Shortest_Distance_to_Park : 가장 가까운 공원과의 거리

## 범주형 변수 인코딩

In [6]:
def target_encoding(df, target_column):
    # DataFrame의 복사본을 만듭니다.
    df_encoded = df.copy()
    
    for column in df.columns:
        if df[column].dtype == object and column != target_column:
            encoding_map = df.groupby(column)[target_column].mean().to_dict()
            df_encoded[column] = df_encoded[column].map(encoding_map)
    
    return df_encoded

In [7]:
df_encoded = target_encoding(df, 'JS_Price')

## PCC

In [8]:
# 결과를 저장할 DataFrame 생성
result_df = pd.DataFrame(columns=['Column_Name', 'PCC', 'p-value'])

# 'JS_Price'와 다른 열 간의 PCC 및 p-value 계산 및 저장
for column in df.columns:
    if column != 'JS_Price':
        if df[column].dtype != object:
            correlation, p_value = pearsonr(df['JS_Price'], df[column])
            result_df = result_df.append({'Column_Name': column, 'PCC': correlation, 'p-value': p_value}, ignore_index=True)

In [9]:
result_df.sort_values(by='PCC', ascending=False).reset_index(drop=True)

                        Column_Name       PCC        p-value
0                          LC_index  0.374302   0.000000e+00
1                         YearMonth  0.372622   0.000000e+00
2                          CA_index  0.371268   0.000000e+00
3                          TC_index  0.366347   0.000000e+00
4                         HSP_index  0.343511   0.000000e+00
5                        Sell_Price  0.137138   0.000000e+00
6                      Building_Age  0.032405   1.183472e-24
7                                UR  0.020443   1.010710e-10
8                             Floor  0.010315   1.107012e-03
9       Shortest_Distance_to_School  0.010074   1.444149e-03
10  Shortest_Distance_to_University  0.000501   8.741694e-01
11      Shortest_Distance_to_Subway -0.005514   8.124124e-02
12                         latitude -0.011088   4.542483e-04
13                        longitude -0.019554   6.245114e-10
14                       Population -0.030188   1.317067e-21
15                            JS_BA -0.057830   7.888644e-75
16                      Crime_Rates -0.066535   1.725227e-98
17                        SDT_index -0.117085  3.926173e-302
18                               IR -0.210885   0.000000e+00

## 제거변수
- p-value값 고려
    - PCC 결과 a=0.05일 때 p-value값이 0.05초과인 변수는 통계적으로 상관관계가 유의하지 않으므로 변수 삭제 리스트에 추가

In [10]:
delete_columns = ['JS_Price']

for index, row in result_df.iterrows():
    if row['p-value'] > 0.01:
        delete_columns.append(row['Column_Name'])

delete_columns

['JS_Price', 'Shortest_Distance_to_Subway', 'Shortest_Distance_to_University']

In [11]:
selected_features = list(set(df_encoded.columns) - set(delete_columns))
selected_features

['JS_BA',
 'CA_index',
 'Building_Age',
 'Sell_Price',
 'Population',
 'IR',
 'SDT_index',
 'Crime_Rates',
 'HSP_index',
 'YearMonth',
 'latitude',
 'longitude',
 'Building_Use_y',
 'UR',
 'Shortest_Distance_to_School',
 'Floor',
 'TC_index',
 'LC_index',
 'Region_Name_y']