## 문제 1. 
- 학생 530명에 대한 학습용(train) 데이터를 이용하여 학생 구분(유치원생, 초등학생, 중학생, 고등학생, 대학생) 예측 모형을 만든 후, 이를 평가용(test) 데이터에 적용하여 얻은 230명 학생의 구분을 다음과 같은 형식의 CSV 파일로 생성하시오. (제출한 모델의 성능은 f1-macro 평가에 따라 채점)

In [1]:
import pandas as pd 
pd.DataFrame({
    "pred" : ["고등학생", "중학생", "유치원생", "..."]
})

   pred
0  고등학생
1   중학생
2  유치원생
3   ...

In [2]:
import pandas as pd 
X_test = pd.read_csv("data/6회/data_6_2_test.csv")
X_train = pd.read_csv("data/6회/data_6_2_train.csv")

X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      530 non-null    float64
 1   일평균학습시간      530 non-null    float64
 2   일평균스마트폰사용시간  530 non-null    float64
 3   키            530 non-null    object
 4   몸무게          530 non-null    float64
 5   체격           530 non-null    object
 6   기초대사량        530 non-null    float64
 7   거주지역         530 non-null    object
 8   구분           530 non-null    object
dtypes: float64(5), object(4)
memory usage: 37.4+ KB

In [3]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      230 non-null    float64
 1   일평균학습시간      230 non-null    float64
 2   일평균스마트폰사용시간  230 non-null    float64
 3   키            230 non-null    object
 4   몸무게          230 non-null    float64
 5   체격           230 non-null    object
 6   기초대사량        230 non-null    float64
 7   거주지역         230 non-null    object
dtypes: float64(5), object(3)
memory usage: 14.5+ KB

In [4]:
import pandas as pd 
pd.DataFrame({
    "변수" : list(X_train.columns), 
    "설명" : [
        "학생 일 평균 수명시간", 
        "학생 일 평균 학습시간", 
        "학생 일 평균 스마트폰 사용시간", 
        "학생 키 (Tall, Short)", 
        "학생 몸무게", 
        "학생 체격 ('L', 'M', 'XS', 'S')",
        "학생 기초대사량", 
        "학생 거주지역 ('동구', '서구', '남구', '북구')", 
        "학생 구분 ('고등학생', '중학생', '초등학생', '대학생', '유치원생')"
    ]
})

            변수                                            설명
0      일평균수면시간                                  학생 일 평균 수명시간
1      일평균학습시간                                  학생 일 평균 학습시간
2  일평균스마트폰사용시간                             학생 일 평균 스마트폰 사용시간
3            키                            학생 키 (Tall, Short)
4          몸무게                                        학생 몸무게
5           체격                   학생 체격 ('L', 'M', 'XS', 'S')
6        기초대사량                                      학생 기초대사량
7         거주지역              학생 거주지역 ('동구', '서구', '남구', '북구')
8           구분  학생 구분 ('고등학생', '중학생', '초등학생', '대학생', '유치원생')

## 데이터 확인

In [5]:
X_train.head()

   일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역    구분
0     7.35     7.74          4.8   Tall  52.050   L  1499.4   동구  고등학생
1     7.05     8.10          1.2   Tall  51.300   M  1624.4   서구   중학생
2     7.35     7.74          3.0   Tall  51.285   L  1499.4   동구  고등학생
3     8.58     6.66          4.8  Short  25.545  XS  1249.5   서구  초등학생
4     7.05     8.10          4.8   Tall  54.150   M  1624.4   서구   대학생

In [6]:
X = X_train.drop(columns=['구분'])
y = X_train['구분']

In [7]:
X.head()

   일평균수면시간  일평균학습시간  일평균스마트폰사용시간      키     몸무게  체격   기초대사량 거주지역
0     7.35     7.74          4.8   Tall  52.050   L  1499.4   동구
1     7.05     8.10          1.2   Tall  51.300   M  1624.4   서구
2     7.35     7.74          3.0   Tall  51.285   L  1499.4   동구
3     8.58     6.66          4.8  Short  25.545  XS  1249.5   서구
4     7.05     8.10          4.8   Tall  54.150   M  1624.4   서구

In [8]:
y.head()

0    고등학생
1     중학생
2    고등학생
3    초등학생
4     대학생
Name: 구분, dtype: object

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일평균수면시간      530 non-null    float64
 1   일평균학습시간      530 non-null    float64
 2   일평균스마트폰사용시간  530 non-null    float64
 3   키            530 non-null    object
 4   몸무게          530 non-null    float64
 5   체격           530 non-null    object
 6   기초대사량        530 non-null    float64
 7   거주지역         530 non-null    object
dtypes: float64(5), object(3)
memory usage: 33.3+ KB

In [10]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 530 entries, 0 to 529
Series name: 구분
Non-Null Count  Dtype
--------------  -----
530 non-null    object
dtypes: object(1)
memory usage: 4.3+ KB

In [11]:
X.isnull().sum()

일평균수면시간        0
일평균학습시간        0
일평균스마트폰사용시간    0
키              0
몸무게            0
체격             0
기초대사량          0
거주지역           0
dtype: int64

In [12]:
y.isnull().sum()

0

In [13]:
y.value_counts()

유치원생    140
초등학생    121
고등학생    120
대학생      78
중학생      71
Name: 구분, dtype: int64

## 데이터셋 분리

In [14]:
from sklearn.model_selection import train_test_split
X_tr, X_te, y_tr, y_te = train_test_split(X, y, test_size = 0.2, random_state=42)

X_tr.shape, X_te.shape, y_tr.shape, y_te.shape

((424, 8), (106, 8), (424,), (106,))

## 데이터타입별로 분리

In [15]:
import numpy as np

number_df = X_tr.select_dtypes(include=np.number)
number_df.head()

     일평균수면시간  일평균학습시간  일평균스마트폰사용시간     몸무게   기초대사량
137     8.89     6.39          4.8  23.385  1374.5
526     8.27     6.84          1.2  51.165  2124.2
417     8.27     6.84          1.2  50.505  2124.2
517    10.11     5.58          1.2  21.135  1874.3
69      8.58     6.66          3.0  20.685  1249.5

In [16]:
object_df = X_tr.select_dtypes(include=object)
object_df.head()

         키  체격 거주지역
137  Short  XS   북구
526   Tall   M   동구
417   Tall   M   서구
517  Short  XS   북구
69   Short  XS   동구

In [17]:
number_df.describe()

          일평균수면시간     일평균학습시간  일평균스마트폰사용시간         몸무게        기초대사량
count  424.000000  424.000000   424.000000  424.000000   424.000000
mean     8.372901    6.896250     2.869811   37.620601  1628.500943
std      1.080119    0.935629     1.585583   14.470400   213.728564
min      6.440000    5.580000     0.000000   16.905000  1249.500000
25%      7.350000    6.210000     1.200000   23.692500  1499.400000
50%      8.270000    6.840000     3.000000   37.905000  1624.400000
75%      9.190000    7.740000     4.800000   50.737500  1749.300000
max     10.110000    8.820000     4.800000   72.045000  2124.200000

In [18]:
for column in object_df.columns:
    print(object_df[column].value_counts())
    print()

Tall     221
Short    203
Name: 키, dtype: int64

XS    203
L     114
M      75
S      32
Name: 체격, dtype: int64

남구    123
서구    113
동구     97
북구     91
Name: 거주지역, dtype: int64

## 모델 생성

In [19]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, OrdinalEncoder
from lightgbm import LGBMClassifier

transformer = ColumnTransformer([
    ('minmax_scaler', MinMaxScaler(), number_df.columns),
    ('ohc_encoder', OneHotEncoder(), object_df.columns)
], remainder='passthrough')

pipeline = Pipeline([
    ('preprocessor', transformer),
    ('model', LGBMClassifier(random_state=42, max_depth=3, learning_rate=0.01))
])

# 모델 학습
pipeline.fit(X_tr, y_tr)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('minmax_scaler',
                                                  MinMaxScaler(),
                                                  Index(['일평균수면시간', '일평균학습시간', '일평균스마트폰사용시간', '몸무게', '기초대사량'], dtype='object')),
                                                 ('ohc_encoder',
                                                  OneHotEncoder(),
                                                  Index(['키', '체격', '거주지역'], dtype='object'))])),
                ('model',
                 LGBMClassifier(learning_rate=0.01, max_depth=3,
                                random_state=42))])

## 모델 평가

In [20]:
from sklearn.metrics import f1_score

def get_scores(model, X_train, X_test, y_train, y_test):
    train_predict = model.predict(X_train)
    test_predict = model.predict(X_test)
    train_score = f1_score(y_train, train_predict, average='macro')
    test_score = f1_score(y_test, test_predict, average='macro')
    return f'train : {train_score}, test : {test_score}'
    
get_scores(pipeline, X_tr, X_te, y_tr, y_te)

'train : 0.8937423742210961, test : 0.867981751285422'

## 결과 제출

In [21]:
final_predict = pipeline.predict(X_test)
final_predict

array(['대학생', '초등학생', '중학생', '유치원생', '고등학생', '고등학생', '유치원생', '초등학생',
       '초등학생', '대학생', '고등학생', '초등학생', '유치원생', '유치원생', '중학생', '초등학생',
       '유치원생', '초등학생', '초등학생', '중학생', '유치원생', '중학생', '초등학생', '중학생',
       '초등학생', '유치원생', '고등학생', '유치원생', '대학생', '중학생', '초등학생', '대학생', '대학생',
       '유치원생', '대학생', '초등학생', '유치원생', '유치원생', '초등학생', '고등학생', '유치원생',
       '유치원생', '초등학생', '초등학생', '유치원생', '중학생', '유치원생', '유치원생', '중학생',
       '고등학생', '중학생', '초등학생', '중학생', '고등학생', '고등학생', '초등학생', '초등학생',
       '대학생', '유치원생', '고등학생', '고등학생', '유치원생', '고등학생', '초등학생', '중학생',
       '고등학생', '유치원생', '초등학생', '초등학생', '유치원생', '초등학생', '초등학생', '중학생',
       '고등학생', '초등학생', '유치원생', '대학생', '대학생', '초등학생', '유치원생', '고등학생',
       '유치원생', '초등학생', '대학생', '초등학생', '유치원생', '유치원생', '중학생', '대학생',
       '유치원생', '유치원생', '유치원생', '유치원생', '대학생', '대학생', '초등학생', '고등학생',
       '유치원생', '유치원생', '대학생', '고등학생', '초등학생', '초등학생', '유치원생', '초등학생',
       '고등학생', '유치원생', '유치원생', '초등학생', '유치원생', '유치원생', '대학생', '고등학생',
       '대학생', '대학생', '유치원생', '대학생', '중학생', '유치원생', '유치원생', '유치원생', '중학생',
       '고등학생', '중학생', '고등학생', '대학생', '고등학생', '고등학생', '초등학생', '고등학생',
       '초등학생', '중학생', '유치원생', '고등학생', '고등학생', '고등학생', '유치원생', '고등학생',
       '대학생', '유치원생', '유치원생', '고등학생', '초등학생', '초등학생', '유치원생', '초등학생',
       '초등학생', '중학생', '초등학생', '고등학생', '유치원생', '유치원생', '고등학생', '고등학생',
       '고등학생', '유치원생', '중학생', '초등학생', '초등학생', '고등학생', '대학생', '유치원생',
       '초등학생', '대학생', '초등학생', '유치원생', '고등학생', '유치원생', '초등학생', '유치원생',
       '고등학생', '대학생', '고등학생', '초등학생', '고등학생', '초등학생', '초등학생', '유치원생',
       '중학생', '고등학생', '고등학생', '초등학생', '초등학생', '유치원생', '초등학생', '고등학생',
       '대학생', '유치원생', '고등학생', '유치원생', '대학생', '초등학생', '대학생', '대학생', '고등학생',
       '대학생', '중학생', '초등학생', '유치원생', '고등학생', '초등학생', '초등학생', '고등학생',
       '고등학생', '초등학생', '고등학생', '유치원생', '고등학생', '대학생', '초등학생', '유치원생',
       '유치원생', '초등학생', '유치원생', '초등학생', '대학생', '고등학생', '유치원생', '초등학생',
       '대학생', '초등학생', '고등학생', '유치원생', '유치원생', '유치원생', '초등학생', '초등학생',
       '고등학생', '고등학생', '초등학생'], dtype=object)

In [23]:
result = pd.DataFrame({'pred':final_predict})
result

     pred
0     대학생
1    초등학생
2     중학생
3    유치원생
4    고등학생
..    ...
225  초등학생
226  초등학생
227  고등학생
228  고등학생
229  초등학생

[230 rows x 1 columns]

In [24]:
result.to_csv('5.csv', index=False)